<!DOCTYPE html>

<html>

    <head>
        <title>Survey</title>
        <h1>UMN Survey</h1>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style type='text/css'>
            body {
                font: sans-serif;
                color: black;
                margin: 5px;
                padding: 20px;
            }
            div {margin: 20px 0px 50px 10px; }
        </style>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script type='text/javascript'>
        function showTextArea() {
            if(document.getElementById('check').checked) {
                document.getElementById('sign').style.display='block';
            }
            else {
                document.getElementById('sign').style.display='none';
            }
        }
        </script>

    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>

</html>